/public/backend-dev/.sass-cache
/config/system.php
/public/components
/composer.lock
/composer.phar
/public/uploads
.DS_Store
.AppleDouble
.LSOverride
*.log
npm-debug.log*
.grunt
.lock-wscript
.idea/
.sass-cache/
*.css.map
/.phpstorm.meta.php
/_ide_helper.php
/vendor
vendor.zip
/node_modules

/public/app
/public/vendor
/public/backend-dev/master/bower_components
/public/backend-dev/master/vendor
/public/backend-dev/master/node_modules
config/settings.php
Homestead.yaml
Homestead.json
.env
/doc

